@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@using CPF_CACL.GestaoSocio.Aplication.ViewModel;

@* @model List<ApoioViewModel> *@

@{
    ViewData["Title"] = "Solicitar declaração";
}
<div class="container">
    <br>
    <div class="page-header">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <nav class="col-12 col-md-12 col-sm-12" aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Socio/Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Adminitrativa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Solicitar declaração</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

