@using CPF_CACL.GestaoSocio.Domain.Entities;
@model Notificacao

<a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-warning navbar-badge">@Model.Mensagem +</span>
</a> 


