@model CPF_CACL.GestaoSocio.Domain.Enums.EEstadoApoio

@{
    ViewData["Title"] = "Página Inicial";
}

@* <div class="text-center">
    <h1 class="display-6 text-20">Bem-Vindo</h1>
    <p>Este é um sistema de Getão de Previdência Social.</p>
</div> *@

<div class="row espaco">
    <div class="col-12 col-sm-6 col-md-4">
        <a asp-controller="Socio" asp-action="Index" class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class=" text-bold"> SÓCIOS</span>
                
            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
  
    <div class="col-12 col-sm-6 col-md-4">
        <a asp-controller="Pagamento" asp-action="Index" class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill-wave"></i></span>

            <div class="info-box-content">
                <span class=" text-bold"> PAGAMENTOS</span>

            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    @* <div class="clearfix hidden-md-up"></div> *@


    <div class="col-12 col-sm-6 col-md-4">
        <a asp-controller="Municipio" asp-action="Index" class="info-box">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-chart-pie"></i></span>

            <div class="info-box-content">
                <span class=" text-bold"> ESTATÍSTICAS</span>

            </div>
            <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
  
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="card mb-2">
                            <img class="" src="~/img/app_img/photo2.png" alt="Dist Photo 2">
                            <div class="card-img-overlay d-flex flex-column justify-content-center">
                                <h5 class="card-title text-white mt-5 pt-2">CPF-CACL</h5>
                                <p class="card-text pb-2 pt-1 text-white">
                                    Lorem ipsum dolor sit amet, <br>
                                    consectetur adipisicing elit <br>
                                    sed do eiusmod tempor.
                                </p>
                                <a href="#" class="text-white">Last update 15 hours ago</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* 

<div class="col-12 col-sm-12 col-md-12">
    <div class="card-box height-100-p overflow-hidden">
        <div class="profile-tab height-100-p">
            <div class="tab height-100-p">

                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
<br />
@* 
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
@*                         <p class="text-center">
                            <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                        </p> 

                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                       @*  <p class="text-center">
                            <strong>Goal Completion</strong>
                        </p>

                        <div class="progress-group">
                            Add Products to Cart
                            <span class="float-right"><b>160</b>/200</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-primary" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->

                        <div class="progress-group">
                            Complete Purchase
                            <span class="float-right"><b>310</b>/400</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-danger" style="width: 75%"></div>
                            </div>
                        </div>

                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Visit Premium Page</span>
                            <span class="float-right"><b>480</b>/800</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-success" style="width: 60%"></div>
                            </div>
                        </div>

                        <!-- /.progress-group -->
                        <div class="progress-group">
                            Send Inquiries
                            <span class="float-right"><b>250</b>/500</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-warning" style="width: 50%"></div>
                            </div>
                        </div>*
                        <!-- /.progress-group -->
                    </div> 
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./card-body -->
            
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
    <! -- /.row -->*@
