@{
    ViewData["Title"] = "Configurações";
}



<fieldset>
    <legend> Configurações principais </legend>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-app bg-primary" href="/Municipio/Index">
                    <i class="fas fa-plus-circle"></i> Município
                </a>

                <a class="btn btn-app bg-primary" href="/Bairro/Index">
                    <i class="fas fa-plus-circle"></i> Bairro
                </a>
               
                <a class="btn btn-app bg-primary" href="/Periodo/Index">
                    <i class="fas fa-plus-circle"></i> Periodo
                </a>
                <a class="btn btn-app bg-primary" href="/Admin/Usuario/Index">
                    <i class="fas fa-plus-circle"></i> Usuário
                </a>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend> Configurações de Tipos </legend>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-app bg-primary" href="/TipoItem/Index">
                    <i class="fas fa-plus-circle"></i> Tipo de Item
                </a>
                <a class="btn btn-app bg-primary" href="/Admin/TipoBeneficio/Index">
                    <i class="fas fa-plus-circle"></i> Tipo de Benefício
                </a>
                <a class="btn btn-app bg-primary" href="/TipoPagamento/Index">
                    <i class="fas fa-plus-circle"></i> Tipo de Pagamento
                </a>
                <a class="btn btn-app bg-primary" href="/CategoriaSocio/Index">
                    <i class="fas fa-plus-circle"></i> Categoria do Sócio
                </a>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend> Outras configurações </legend>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <a class="btn btn-app bg-primary" href="/Beneficio/Index">
                    <i class="fas fa-plus-circle"></i> Benefício
                </a>
                <a class="btn btn-app bg-primary" href="/Capital/Index">
                    <i class="fas fa-plus-circle"></i> Capital
                </a>
                <a class="btn btn-app bg-primary" href="/Apoio/Index">
                    <i class="fas fa-plus-circle"></i> Apoio
                </a>
                <a class="btn btn-app bg-primary" href="/Despesa/Index">
                    <i class="fas fa-plus-circle"></i> Despesas
                </a>
                <a class="btn btn-app bg-primary" href="/Organismo/Index">
                    <i class="fas fa-plus-circle"></i> Organismo
                </a>
                <a class="btn btn-app bg-primary" href="/Relacao/Index">
                    <i class="fas fa-plus-circle"></i> Relação
                </a>
            </div>
        </div>
    </div>
</fieldset>
