
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
    margin-bottom: 60px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.testev {
    box-sizing: border-box !important;
    
}
.imagem-perfil {
    max-width: 100%;
    height: inherit;
    width: inherit;
    display: block;
}
.caixa-sombreada {
    box-shadow: 0 0 28px rgba(0,0,0,.08);
}

.sweetAlertButtonMargin {
    margin-right: 1em;
}

#irAoTopoBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#irAoTopoBtn:hover {
    background-color: #0056b3;
}

/*Estilo para o botão de Upload de Imagens*/
/*input[type="file"] {
    display: none;
}

.imagem-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.imagem-upload:hover {
    background-color: #0056b3;
}
.imagem-content {
    display: flex;
    align-items: center;
    height: 100vh;
}*/


.icone {
    display: inline-block;
    vertical-align: middle;
}




.modal-header {
    color: #ffF !important;
    background-color: #007bff !important;
}
/*----View - Cadastro de Sócio-----*/
.cabecalho-sessao {
    color: #007bff !important;
    border: 0 !important;
    border-bottom: 2px solid #007bff !important;
}
/*.custom-file-label::after {
    content: "Procurar" !important;
}*/

/*----Para o Círculo---*/
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 9999;
}
#loading-circle {
    background: #fff;
    padding: 20px;
    margin: auto;
    color: #0b58f6f5;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 1em;
}
/*-----------------------*/

/*Estlo para os Fielsets   #0c99e0 */
fieldset {
    border: 1px solid #ccc !important;
    margin: 0 0 1.5em 0 !important;
    xmin-width: 0 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width: 100% !important;
}
legend {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    margin-bottom: 0px;
    width: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 2px 2px 7px !important;                                                                                          px 7px !important;
    background-color: #fff !important;
    color: dodgerblue;
    border-color: dodgerblue;
}

/*---Estilizando as colunas das tabelas---*/
th, td{
    width: calc(100%/var(--num-colunas));
}

th {
    background-color: navbar-blue;
}
.margem-container {
    padding: 1em !important;
    margin: 2px !important;
}

.margens {
    margin: 0px !important;
    padding: 0px !important;
}

/*--Estilo para campos obrigatórios---*/
.required {
    position: relative;
}

.required::after {
    content: '*';
    color: #e21d1d;
    position: absolute;
    top: -0.1em;
    margin-left: 4px;
}
.espaco-input {
    margin-bottom: 1em;
}


/*--------------*/

.edit-avatar:hover {
    background-color: rgb(38, 38, 252);
    color: #fff;
    /*box-shadow: 0 2px 4px rgb(38, 38, 252, 0,40);*/
}

.espaco {
    padding-top: 1em;
}

.teste {
    align-content: center;
}

.cabecalho {
    padding: 1em !important;
}

.isocios {
    height: 5 px;
    width: 5px;
    background-color:  blue;
    margin-right: 2px;
}

.btn-adicionar {
    position: absolute;
    right: 0;
}
button.close {
    color: #ff0000 !important;
}

/*Estilo para a caixa de mensagem de erro e sucesso*/

.mensagem-erro{
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cc0000;
}
.mensagem-sucesso {
    background-color: #d9f9d9;
    color: #006600;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #006600;
}


/*---Estilo para a coluna Ação nas tabelas---*/
.dw {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dropways' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dw-more {
    font-size: 1.5em;
    vertical-align: middle;
}
.dw-more:before {
    content: "\e98c";
}
.dw-edit2:before {
    content: "\eb0c";
}

/**Trabalhando os Dropdown*/

.dropdown-menu {
    border: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 28px rgba(0,0,0,.1);
    box-shadow: 0 0 28px rgba(0,0,0,.1)
}
.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    vertical-align: unset;
    width: auto;
    height: auto;
    border: 0 !important
}
.dropdown-toggle.no-arrow:after {
    display: none
}


.dropdown-menu-icon-list .dropdown-item {
    position: relative;
    padding-left: 45px
}

.dropdown-menu-icon-list .dropdown-item i {
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: 18px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
}    

.dropdown-item {
    font-size: 15px;
    font-weight: 400;
    padding: .657rem 1rem;
    letter-spacing: 0;
    color: #444;
    font-family: 'Inter',sans-serif;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.dropdown-item:hover {
    background: #ecf0f4 !important;
    color: blue !important;
}

.dropdown-menu-icon-list .dropdown-item {
    position: relative;
    padding-left: 45px
}