@model CPF_CACL.GestaoSocio.Aplication.ViewModel.CategoriaSocioViewModel


<div class="modal fade" id="categoria" aria-hidden="false" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoriaLabel">Criar Categoria de Sócio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div><div class="modal-body">
                    <form asp-controller="CategoriaSocio" asp-action="Create" method="post">
                        <div class="form-group">
                            <label asp-for="Nome">Nome da Categoria</label>
                            <br />
                            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o Nome da Categoria">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Quota">Quota </label>
                            <br />
                            <input type="text" asp-for="Quota" class="form-control" placeholder="Digite a Quota da Categoria">
                            <span asp-validation-for="Quota" class="text-danger"></span>
                        </div>


                        <div class="">
                            <input type="hidden" value="@DateTime.Now" asp-for="DataCriacao">
                        </div>

                        <div class="">
                            <input type="hidden" value="true" asp-for="Status">
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success waves-effect">Adicionar</button>
                            <a role="button" class="btn btn-link waves-effect" asp-controller="CategoriaSocio" asp-action="Index"> Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>