@model CPF_CACL.GestaoSocio.Aplication.ViewModel.BairroViewModel

<div id="loading-overlay" style="display: none;">
    <div id="loading-circle">
        <i class="fas fa-circle-notch fa-spin"></i> Carregando...
    </div>
</div>


<div class="modal fade" id="bairro" aria-hidden="false" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bairroLabel">Criar Bairro</h5>
                    @* <button type="button" class="btn btn-close" data-bs-dismiss="modal"  aria-label="Close">X</button> *@
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* <form asp-controller="Bairro" asp-action="Create" method="post"> *@
                        
                        <label asp-for="MunicipioId" class="control-label">Município</label>
                        <select id="municipioId" class="form-control">
                            @* <option value="">Selecione um ite</option> *@
                            @foreach (var item in Model.Municipio)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>                        
                        <br />
                        <div class="form-group">
                            <label asp-for="Nome">Nome do bairro</label>
                            <br />
                            <input type="text" id="Nome" class="form-control" placeholder="Digite o nome do bairro">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="">
                            <input type="hidden" value="@DateTime.Now" id="dataCriacao">
                        </div>

                        <div class="">
                            <input type="hidden" value="true" asp-for="Status">
                        </div>
                        <br />
                        <div class="modal-footer">
                        <button type="button" onclick="AdicionarBairro()" class="btn btn-success waves-effect"> Adicionar</button>
                        <a role="button" class="btn btn-link waves-effect" asp-controller="Bairro" asp-action="Index"> Cancelar</a>
                        </div>
                    @* </form> *@
                </div>
            </div>
        </div>
    </div>
</div>
